
.main-design{
  width: 1000px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  font-family: "Ubuntu", sans-serif;
}

.section-form{
  width: 60%;
  padding: 20px;
}

.section-card{
  width: 40%;
  padding: 20px;
}