<div class="card">
  <div class="card__top">
   <div class="card-title">
     <p class="card-title__name">Oso Osonen</p>
     <div class="card-title__elements">
       <img class="img-element" src="https://placebear.com/20/20"/>
       <img class="img-element" src="https://placebear.com/25/25"/>
       <img class="img-element" src="https://placebear.com/30/30"/>
     </div>
   </div>
   <div class="card-image"></div>
   <div class="card-type">
     <p class="card-type__family">Criatura Bear</p>
     <p class="card-type__level">level 3</p>
   </div>
  </div>
  <div class="card__bottom">
   <div class="card-desc">
     <p class="card-desc__text">Lorem, t consectetur bear elit. Corporis pardo odit quia commodi, veniam rugido nisi cumque harum distinctio esse. Sapiente tempora rem voluptates voluptatem esse, sit architecto bear ipsum osezno sit amer!</p>
     <div class="card-desc__info">
       <div class="info">
          <img class="info__img" src="https://placebear.com/30/30"/>
          <p class="info__text">Fuerza</p>
       </div>
       <div class="info">
          <img class="info__img" src="https://placebear.com/30/30"/>
          <p class="info__text">Cantabria</p>
       </div>
       <div class="info">
          <img class="info__img" src="https://placebear.com/30/30"/>
          <p class="info__text">Garras</p>
       </div>
     </div>
   </div> 
  </div>
 