<div class="card">
  <div class="card__top">
   <div class="card-title">
     <p class="card-title__name">Éowyn, lady of Rohan</p>
     <div class="elements">
       <img class="elements__img" src="./images/agua.png"/>
       <img class="elements__img" src="./images/viento.png"/>
       <img class="elements__img" src="./images/tierra.png"/>
       <img class="elements__img" src="./images/fuego.png"/>
     </div>
   </div>
   <div class="card-image"></div>
   <div class="card-type">
     <p class="card-type__family">Criatura legendaria: <span>Humana</span></p>
     <p class="card-type__level">Nivel <span>58</span></p>
   </div>
  </div>
  <div class="card__bottom">
   <div class="card-desc">
     <p class="card-desc__text">Éowyn es un personaje de la novela fantástica El Señor de los Anillos, de J. R. R. Tolkien. Es una noble de Rohan.</p>
     <div class="card-desc__info">
       <div class="info">
          <img class="info__img" src="./images/skill.png"/>
          <p class="info__text">Rugido de núcleo</p>
       </div>
       <div class="info">
          <img class="info__img" src="./images/origin.png"/>
          <p class="info__text">Terragónida</p>
       </div>
       <div class="info">
          <img class="info__img" src="./images/weapon.png"/>
          <p class="info__text">Talismán</p>
       </div>
     </div>
   </div> 
  </div>
 