<section class="section-design form-design">
    <div class="section-design__title">
        <p><strong>Decora tu carta</strong></p>
        <button class="arrow"></button>
    </div>
    <span class="line-shadow"></span>
    <form class="form-bg">
       <div class="form-bg__options">
            <input name="background" type="radio" id="bg-1"  value="bg-1">
            <label for="bg-1" class="form-bg__img form-bg__img--1"></label>
        </div>
        <div class="form-bg__options">
            <input name="background" type="radio" id="bg-2" value="bg-2">
            <label for="bg-2" class="form-bg__img form-bg__img--2"></label>
        </div>
        <div class="form-bg__options">
            <input name="background" type="radio" id="bg-3" value="bg-3">
            <label for="bg-3" class="form-bg__img form-bg__img--3"></label>
        </div>
        <div class="form-bg__options">
            <input name="background" type="radio" id="bg-4" value="bg-4">
            <label for="bg-4" class="form-bg__img form-bg__img--4"></label>
        </div>
    </form>
</section>
<section class="section-design form-fill">
    <div class="section-design__title">
        <p><strong>Crea tu personaje</strong></p>
        <button class="arrow"></button>
    </div>
    <span class="line-shadow"></span>
    <form class="form">
        <label for="name" class="label">Nombre</label>
            <input id="name" class="input" type="text" required placeholder="ej. Eowyn"/>
        <p class="label">Elemento:</p>
        <div class="checkbox-box">
            <input type="checkbox" id="tierra" name="tierra" value="tierra">
            <label for="tierra"> Tierra</label>
            <input type="checkbox" id="fuego" name="fuego" value="fuego">
            <label for="fuego"> Fuego</label>
            <input type="checkbox" id="agua" name="agua" value="agua">
            <label for=""> Agua</label>
            <input type="checkbox" id="viento" name="viento" value="viento">
            <label for=""> Viento</label>
    </div>

        <label for="picture" class="label">Imagen:</label>
        <input type="file" id="picture" class="input"  name="picture" />


        <label for="family" class="label">Criatura:</label>
        <select class="input" name="family" id="family">
            <option  selected disabled value="">Elige una criatura legendaria</option>
            <option value="Elfo">Elfo</option>
            <option value="Goblins">Goblins</option>
            <option value="Hada">Hada</option>
            <option value="Dracónido">Dracónido</option>
            <option value="Hobbit">Hobbit</option>
        </select>

        <!-- NUMBER CONTROLAR EL MÁXIMO 100 SI FUNCIONA -->
        <label for="level" class="label">Nivel (máx. 100):</label>
            <input id="level" class="input" type="number" required placeholder="1"  min="1" max="100"/>
        
        <label for="description" class="label">Descripción:</label>
            <textarea id="description" class="textarea input" maxlength="200">Describe tu personaje (max 200 caracteres)</textarea>
        
        <label for="skill" class="label">Habilidad:</label>
        <select class="input" name="skill" id="skill">
            <option selected disabled value="">Elige una habilidad</option>
            <option value="Barrera de luz">Barrera de luz</option>
            <option value="Paso sombrío">Paso sombrío</option>
            <option value="Afinidad natural">Afinidad natural</option>
            <option value="Previsión etérea">Previsión etérea</option>
            <option value="Rugido de núcleo">Rugido de núcleo</option>
        </select>

        <label for="origin" class="label">Origen:</label>
        <select class="input" name="origin" id="origin">
            <option selected disabled value="">Elige un lugar</option>
            <option value="Sylvaris">Sylvaris (Elfos del Crepúsculo)</option>
            <option value="Ondar">Ondar (Seres Abisales)</option>
            <option value="Igryn">Igryn (Hijos de la Llama)</option>
            <option value="Nefelyr">Nefelyr (Errantes del Viento)</option>
            <option value="Terragónida">Terragónida (Guardianes de Raíz)</option>
        </select>
        <label for="arma" class="label">Arma:</label>
        <select class="input" name="arma" id="arma">
            <option selected disabled value="">Elige un arma</option>
            <option value="Daga">Daga</option>
            <option value="Báculo">Báculo</option>
            <option value="Martillo">Martillo</option>
            <option value="Talismán">Talismán</option>
            <option value="Arco">Arco</option>
        </select>
        
    </form>
</section>
<section class="section-design form-share">
    <div class="section-design__title">
        <p><strong>Comparte</strong></p>
        <button class="arrow"></button>
    </div>
    <span class="line-shadow"></span>
    <div class="inside-share">
        <button href="share.html">Comparte</button>
    </div>
</section>