<section class="section-design form-design">
  <div class="accordion-item">
    <div class="section-design__title accordion-header">
      <p><strong>Decora tu carta</strong></p>
      <button class="arrow js-arrow"></button>
    </div>
    <div class="accordion-content">
      <form class="form-background">
       <div class="form-background__options">
            <input name="background" type="radio" id="input-bg-1" class="hidden" value="bg-1">
            <label for="input-bg-1"  id ="bg-1" class="js_background-img form-background__img form-background__img--1"></label>
        </div>
        <div class="form-background__options">
           <input name="background" type="radio" id="input-bg-2" class="hidden" value="bg-2">
            <label for="input-bg-2" id ="bg-2" class="js_background-img form-background__img form-background__img--2"> </label>
        </div>
        <div class="form-background__options">
            <input name="background" type="radio" id="input-bg-3" class="hidden" value="bg-3">
            <label for="input-bg-3" id ="bg-3"  class="js_background-img form-background__img form-background__img--3"></label>
        </div>
        <div class="form-background__options">
            <input name="background" type="radio" id="input-bg-4" class="hidden" value="bg-4">
            <label for="input-bg-4"  id ="bg-4" class="js_background-img form-background__img form-background__img--4"></label>
        </div>
    </form>
    </div>
  </div>
</section>
<section class="section-design form-fill">
  <div class="accordion-item">
    <div class="section-design__title accordion-header">
      <p><strong>Crea tu personaje</strong></p>
      <button class="arrow js-arrow"></button>
    </div>
    <div class="accordion-content">
      <form class="form">
        <label for="name" class="label">Nombre</label>
        <input id="name"  class="input js-input-name js_input" type="text" required placeholder="ej. Eowyn"/>
        <p class="label">Elemento:</p>
        <div class="checkbox-box js-checkbox-element">
          <input type="checkbox" id="tierra" name="tierra" value="tierra" />
          <label for="tierra"> Tierra</label>
          <input type="checkbox" id="fuego" name="fuego" value="fuego" />
          <label for="fuego"> Fuego</label>
          <input type="checkbox" id="agua" name="agua" value="agua" />
          <label for="agua"> Agua</label>
          <input type="checkbox" id="viento" name="viento" value="viento" />
          <label for="viento"> Viento</label>
        </div>

        <p class="label">Sube una imagen:</p>
        <label for="picture" for="picture" class="label label__picture">Carga tu imagen</label>
        <input type="file" id="picture" class="input hidden js-profile-upload-btn"  name="picture" />

        <label for="family" class="label">Raza:</label>
        <select class="input js-input-family js_input" name="family" id="family">
          <option selected disabled value="">Elige una raza legendaria</option>
          <option value="Elfo">Elfo</option>
          <option value="Goblins">Goblins</option>
          <option value="Hada">Hada</option>
          <option value="Dracónido">Dracónido</option>
          <option value="Hobbit">Hobbit</option>
        </select>

        <!-- NUMBER CONTROLAR EL MÁXIMO 100 SI FUNCIONA -->
        <label for="level" class="label">Nivel (máx. 100):</label>
        <input
          id="level" class="input js-input-level"  type="number" required placeholder="1" min="1" max="100"/>

        <label for="description" class="label">Descripción:</label>
        <textarea id="description" class="textarea input js-input-description js_input" placeholder="Describe tu personaje (max 200 caracteres)" maxlength="200"></textarea>

        <label for="skill" class="label">Habilidad:</label>
        <select class="input js-input-skill js_input" name="skill" id="skill">
          <option selected disabled value="">Elige una habilidad</option>
          <option value="Barrera de luz">Barrera de luz</option>
          <option value="Paso sombrío">Paso sombrío</option>
          <option value="Afinidad natural">Afinidad natural</option>
          <option value="Previsión etérea">Previsión etérea</option>
          <option value="Rugido de núcleo">Rugido de núcleo</option>
        </select>

        <label for="origin" class="label">Origen:</label>
        <select class="input js-input-origin js_input" name="origin" id="origin">
          <option selected disabled value="">Elige un lugar</option>
          <option value="Sylvaris">Sylvaris (Elfos del Crepúsculo)</option>
          <option value="Ondar">Ondar (Seres Abisales)</option>
          <option value="Igryn">Igryn (Hijos de la Llama)</option>
          <option value="Nefelyr">Nefelyr (Errantes del Viento)</option>
          <option value="Terragónida">Terragónida (Guardianes de Raíz)</option>
        </select>
        <label for="weapon" class="label">Arma:</label>
        <select class="input js-input-weapon js_input" name="weapon" id="weapon">
          <option selected disabled value="">Elige un arma</option>
          <option value="Daga">Daga</option>
          <option value="Báculo">Báculo</option>
          <option value="Martillo">Martillo</option>
          <option value="Talismán">Talismán</option>
          <option value="Arco">Arco</option>
        </select>
        <button type="reset" class="js-reset-btn">Limpiar</button>
      </form>
    </div>
  </div>
  
</section>
<section class="section-design form-share">
  <div class="accordion-item">
    <div class="section-design__title accordion-header">
      <p><strong>Comparte</strong></p>
      <button class="arrow js-arrow"></button>
    </div>
    <span class="line-shadow"></span>
    <div class="inside-share accordion-content">
      <button class="js-create-button" href="share.html">Crear carta</button>
      <a href="" class="js-share-text share-text hidden">Abre tu carta</a>
    </div>
  </div>
</section>

